@model MVC_Project_BSL.Models.Groepsreis

@{
    ViewBag.Title = "Bewerk Groepsreis";
}

<h2>Bewerk Groepsreis</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Begindatum" class="control-label"></label>
        <input asp-for="Begindatum" class="form-control" />
        <span asp-validation-for="Begindatum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Einddatum" class="control-label"></label>
        <input asp-for="Einddatum" class="form-control" />
        <span asp-validation-for="Einddatum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Prijs" class="control-label"></label>
        <input asp-for="Prijs" class="form-control" />
        <span asp-validation-for="Prijs" class="text-danger"></span>
    </div>
    <!-- Leeftijdscategorieen Dropdown -->
    <div class="form-group">
        <label asp-for="Bestemming.MinLeeftijd" class="control-label"></label>
        <input asp-for="Bestemming.MinLeeftijd" class="form-control" />
        <span asp-validation-for="Bestemming.MinLeeftijd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bestemming.MaxLeeftijd" class="control-label"></label>
        <input asp-for="Bestemming.MaxLeeftijd" class="form-control" />
        <span asp-validation-for="Bestemming.MaxLeeftijd" class="text-danger"></span>
    </div>

    <!-- Activiteiten Dropdown -->
    <div class="form-group">
        <label for="Activiteiten">Activiteiten</label>
        <select asp-items="ViewBag.Activiteiten" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="BestemmingId" class="control-label">Bestemming</label>
        <select asp-for="BestemmingId" asp-items="ViewBag.Bestemmingen" class="form-control"></select>
        <span asp-validation-for="BestemmingId" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <input type="submit" value="Opslaan" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
